@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	box-sizing: border-box;
}
:root {
  --background: #f3f4f6; /* jasnoszary */
  --menuPrimary: #e5e7eb; /* jasny szary */
	--menuSecondary: #4ade80;
	--menuTertiary: #329d5b;
  --inputBackground: #d1d5db; /* jasny szary */
  --text: #1f2937; /* ciemnoszary */
}
.dark {
	--background: #a3a3a3;
	--menuPrimary: #374151;
	--menuSecondary: #4ade80;
	--menuTertiary: #329d5b;
	--inputBackground: #4b5563;
  --text: #000000;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background: var(--background);
}
